
body{
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}
body * {
    box-sizing: border-box;
}
/*шапка сайта*/
.back-black{
    background-color: black;
    height: 83px;
    width: 100%;
}
.logo{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}
.button{
    border:none;
    padding: 33, 13, 33, 13;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    width:161px;
    height:37px;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-navigation{
    display: flex;
    flex-direction: row;
    
}
.item_navigation{
    list-style: none;
    margin-right: 47px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    font-family: 'Nunito Sans';
    color: #FFFFFF;
}
.item_navigation a{
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
}

.item_navigation a:hover{
    color: #E3B873;
}
.mobille{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.conteiner-head{
    max-width: 1250px;
    height: 83px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*section 1*/
.image{
    background-image: url("../img/photo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 707px;
}

.image-back{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 707px;
   
}

.conteiner-sections{
    width: 900px;
    padding:194px 39px;
   /* margin: auto;*/
}
h1{
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}
span{
    color:#E3B873;
}

.sectio1{
    margin-top: 19px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.section1-button{
    display: flex;
}
.submit-section1-orange{
    border: none;
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    font-weight: 400;
    width: 207px;
    height: 51px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
}

.submit-section1{
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    font-weight: 400;
    width: 207px;
    height: 51px;
    background: rgba(227, 184, 115, 0);
    margin-left: 20px;
}

/*section 3*/
.section3{
    background-color: #131313;
    height: 1074px;
    display: flex;
    justify-content: center;
}
.global{
    width: 1171px;
    height: 552px;
    display: flex;
    margin-top: 107px;
}
.container-content{
    width: 442px;
    margin-top: 40px;
    margin-right: 50px;
}
.mini-container{
    display: flex;
    flex-wrap: wrap; 
    position: relative;
    bottom: -17px;
    right: 4px;
    
}

.text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    transition: all 1.5s ease;
    position: relative;
    top: 7px;
    left: -4px;
}
.city{
    width: 178.488px;
}
.title2{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}
.title3{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
.block-items{
    text-align: left;
    margin-right: 30px;
}
.repaire{
    margin-left: 53px;
}

.pagination{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
/*слайдер*/
.slideshow-container{
    max-width: 679px;
    position: relative;
    top: 5px;
   
}
.image-slider{
    height: 482px;
    width: 679px;
}
.one{
    background-image: url("../img/image.png");
    height: 482px;
    width: 679px;
    background-position: center;
    background-size: cover;
}
.two{
    background-image: url("../img/green-sofa-in-white-living-room-with-free-space.jpg");
    height: 482px;
    width: 679px;
    background-position: center;
    background-size: cover;
}
.three{
    background-image: url("../img/armchair-in-black-living-room-with-copy-space.jpg");
    height: 482px;
    width: 679px;
    background-position: center;
    background-size: cover;
}

.prev, .next{
    cursor: pointer;
    color: #FFFFFF;
}
.prev{
    margin-left: 12px;
}
.next{
    margin-right: 30px;
}
.mobprev{
    display: none;
}
.mobnext{
    display: none;
}
.dot{
    cursor: pointer;
    height: 9.57px;
    width: 9.57px;
    margin: 0 9px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%; 
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    right: 10px;
    bottom: 2px; 
}
.flex{
    display: flex;
    margin-bottom: 3px;
}
.container-slider{
    display: flex;
    justify-content: space-between;
    margin-left: -46px;
    position: relative;
    bottom: 19px;
}
.textlist{
   text-align: center;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-right: 12px;
    padding-bottom: 6px;
    width: 200px;
    font-style: normal;
    transition: color 0.6s ease; 
}
.actives, textlist:hover{
    color: #E3B873;
    
    border-bottom: #E3B873 solid 2px;
}

.active, dot:hover{
    background-color: #ffffff;
}

.fade{
    -webkit-animation-name: fade;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}
@keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}

/*Sectiom 4..........................................*/

.onlinecontrol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:-352px;
    width: 100%;
    text-align: center;
    height: 1100px;
}
.logosec4{
    width: 100%;
    margin-left: -4px;
    position: relative;
    bottom: 22px;
}

iframe{
    margin-top: 31.21px;
    width: 817px;
    height:434px; 
    position: relative;
    top: -29px;
    right: 3px;
}

.line{
    margin-top: 14.5px;
}
.facility{
    margin-top: 29.54px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    font-family: 'Nunito Sans';
    position: relative;
    top: -26px;
    right: 2px;
}
.containerForm{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 91.5px;
    position: relative;
    bottom: 55px;
    left: -34px;
}
.form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 832px;
}

.inputsec4{
    outline: none;
    margin-right: 49px;
    height: 32px;
    width: 231px;
    border: none;
    border-bottom:2px solid gray;
    margin-right: 24px;
    margin-top: 9px;
}

.for{
    position: relative;
    top: -13px;
    left: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    font-family: 'Nunito Sans';
}
.buttonsec4{
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    border: none;
    height: 51px;
    width: 200px;
    padding: 20px 75px 4px 76px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    position: relative;
    left: 23px;
}

.checkboxCont{
    margin-top: 39px;
    width: 800px;
    position: relative;
    top: -6px;
    left: 27px;
}

.labelq {
    cursor: pointer;
  }
  .checkboxq{
    display: none;
  }
  .fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
  }
  .fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
  }
  .checkboxq:checked + .fake::before{
    opacity: 1;
  }
.textq{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
    font-family: 'Nunito Sans';
}

/*Section Four*/

.sectionFour{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
}
.logosec4{
    margin-left: -12px;
}
.groupCard{
    margin-top: 31px;
    width: 1236px;
    height: 608px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 7px;
    left: -3px;
}
.card{
  height:608px;
  width: 392px;
}

  .imgCard{
    height:421px;
    width: 392px;
    background-image: url("../img/image.jpg");
  }
  .imgCard2{
    height:421px;
    width: 392px;
    background-image: url("../img/imaged3.jpg");
  }
  .imgCard3{
    height:421px;
    width: 392px;
    background-image: url("../img/imaged.jpg");
  }
  .orderCard{
    background-color: #fff;
    width: 330px;
    height: 286px;
    margin: -127px auto;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    padding: 25px 34px;
  }

  .orderCard ul{
    position: relative;
    left: -26px;
    top: -10px;
  }
  .titleCard{
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #363636;
      font-family: 'Yeseva One';
      margin-left: -2px;
  }

  .orderCard ul li{
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 27px;
      color: #959595;
      font-family: 'Nunito Sans';
  }
.buttonCard{
    width: 228px;
    height:54px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    border: none;
    margin-top:100px;
    margin-left: 31px;
} 
/*section5*/
.section5{
    background-image: url("../img/bck.png");
    background-repeat: no-repeat;
    height: 725px;
    width: 100%;
}
.sectionFive{
    height: 725px;
    width: 1236px;
    margin-top: 105px;
    display: flex;
    justify-content: space-between;
    margin: 105px auto;
   

}
.leftColum{
    height: 645px;
    width: 720px;
   
    padding-top: 117.14px;
}

.containerLeft{
    width: 416.81px;
    height: 532.62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    left: 119px;
    top: -14px;
}

.logoLeft{
    width: 452.81px;
    height: 100px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    font-family: 'Nunito Sans';

}

 .parag{
    width: 326.05px;
 }
.numberSVG{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/pow.png");
    background-repeat: no-repeat;
    width: 76.76px;
    height: 89.76px;
   
}
.numberLeft{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Yeseva One';
    position: relative;
    top: -5px;
    left: 5px;
}
.rightColumn{
    height: 509px;
    width: 506px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131313;
    margin-top: 117.14px;
    position: relative;
    top: 1px;
}
.paragRight{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    margin-top: 26px;
}
.formTwo{
    height: 395px;
    width: 408px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    bottom: 12px;
}
.labelTwo{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Nunito Sans';
    position: relative;
    top:22px;
}

.inputTwo{
    height: 30px;
    width: 408px;
    background-color: #131313;
    border: none;
    border-bottom: #959595 solid 1px;
    outline: none;
    color: #FFFFFF;
}
.inputTwo::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    font-family: 'Nunito Sans';
}
.texti{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    margin-left: 8.62px;
}

.buttonTwo{
    width: 213px;
    height: 51px;
    background-color: #E3B873;
    border: none;
    font-style: normal;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 18.72px 22px;
    align-self: flex-end;
    position: relative;
    top: 11px;
    right: 7px;
}
.pork{
   
    text-align: end;
    padding-right: 170px;
    position: relative;
    top: -177px;
    left: -5px;
}
/*Section 6*/
.sectionSix{
    margin-top: 253.09000000000003px;
    width: 100%;
    height: 864px;
background-image: url("../img/image 5.1.png");
}
.backsecSix{
    width: 100%;
    height: 864px;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}
.conatainerSec6{
    display: flex;
    justify-content: space-between;
    width: 1236px;
    margin: auto;
}

.orderSix{
    width: 411px;
    height: 629px;
    display: flex;
    flex-direction: column;
    align-items:start;
    padding-top: 107.47px;
    text-align: left;
    position: relative;
    top: -1px;
    left: -41px;
}
.orderSix p{
    margin-left: 31px;
}
.orderList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.orderTitle{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
}
.listStyle{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px; 
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    list-style: none;
    margin-bottom: 9px;
}
.listBorder{
    border-bottom: #E3B873 solid 2px;
    color: #E3B873;
}
.gridSix{
    display: grid;
    grid-template-columns: 354px 354px;
    gap: 43px;
    box-sizing: content-box;
    margin-top: -42px;
    position: relative;
    top: 1px;
    right: 3px;
}
.showBck1{
    background-image: url("../img/image 5.png");
    height: 557.88px;
    transition: all 0.5s ease;
}

.showBck2{
    background-image: url("../img/image 51.png");
    background-repeat: no-repeat;
    height: 275px;
    margin-top: -70px;
    transition: all 0.5s ease;
}
.a2{
    background-image: url("../img/image 51.png");
    height: 557.88px;
    transition: all 0.5s ease;
}
.b2{
    background-image: url("../img/image 53.png");
    background-repeat: no-repeat;
    height: 275px;
    margin-top: -70px;
    transition: all 0.5s ease;
}
.c2{
    background-image: url("../img/image 52.png");
    background-repeat: no-repeat;
    height: 349.37px;
    margin-top: -4px;
    transition: all 0.5s ease;
}
.d2{
    background-image: url("../img/image 51.png");
    height: 624.88px;
    margin-top: -360px;
    transition: all 0.5s ease;
}
.showBck3{
    background-image: url("../img/image 53.png");
    background-repeat: no-repeat;
    height: 349.37px;
    margin-top: -4px;
    transition: all 0.5s ease;
}
.showBck4{
    background-image: url("../img/image 52.png");
    height: 624.88px;
    margin-top: -360px;
    transition: all 0.5s ease;
}

/*section 7*/

.sectionSeven{
    height: 1107.11px;
    padding-top: 110.47px;
}

.imgSec{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width:134px;
    position: relative;
    top: 3px;
    left: -4px;
}

.imgSec img{
margin-bottom: 16.49px;
}
.par7{
    margin: 27.65px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    font-family: 'Nunito Sans';
    position: relative;
    bottom: 22px;
    right: 3px;
    }
.containerSec7{
    width: 1236px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.cardMen{
    width: 377px;
    height: 421px;
    padding-left: 20px;
    padding-right: 31.92px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.title7{
    display: flex;
justify-content: space-between;
position: relative;
bottom: -12px;
right: 5px;
}
.title7 p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    font-family: 'Yeseva One';
    text-align: center;
    margin-right: 80px;
    position: relative;
    position: relative;
    top: -1px;
    left: 1px;
}

.titleP{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    font-family: 'Nunito Sans';
    margin-top: 17px;
    position: relative;
    top: 10px;
    right: 5px;
}

.groupOrange{
    display: flex;
    width: 293.75px;
    margin-top: 81px;
    margin-left: -21px;
}
.orange{
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    width: 135.875px;
    height: 55px;
    padding-top: 21.14px;
    padding-bottom: 21.38px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-right: 1px solid white;
}
.orange .p1{
    padding-left: 15px;
}
.orange .p2{
    padding-left: 16px;
}
.fut{
    padding-left: 13px;
    width: 157px;
}
.maria{
    position: relative;
    left: 13px; 
}
.sergey{
    position: relative;
    left: 13px;

}
.egor{
    padding-right: 37px;
}
@media screen and (min-width:1300px){
    .conteiner-sections{
        margin: auto;
        padding-right: 392px;
        padding-left: 0px;
        width:1171px;
    }
}

@media screen and (max-width:768px) {
   .header-navigation, .button{
    display: none;
   }
   .conteiner-head{
    margin-left: 18px;
    margin-right: 18px;
   }

   .mobille{ 
    color:#FFFFFF;
   }

   /*section 1*/
   .conteiner-sections{
    width: 339px;
    padding:85px 18px 0px 18px;
   }
   h1{
    font-size: 23px;
    line-height: 132.83%;
   }
   .sectio1{
    margin-top: 16px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135.84%;
    color: #FFFFFF;
  }
  .section1-button{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  .submit-section1-orange{
    width:100%;
    height: 51px;
}

.submit-section1{
    width:100%;
    height: 51px;
    margin-top: 26px;
    margin-bottom: 61px;
    margin-left: 0px;
}
.image-back{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 476px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    height: 476px;
}

/*section3*/
.section3{
    flex-direction: column;
    height: 727px;
    justify-content: center;
    padding-top:75;
}
.global{
    flex-direction: column-reverse;
    align-items: center;
    width: 340px;
    justify-content: center;
    margin: auto ;
}
  .container-content{
    margin-top: -309px;
    width: 375px;
    margin-right: 0;
    padding-left: 18px;
    padding-right: 17px;
    text-align: center;
  }
  .mini-container{
    padding-top: 280px;
  }
  .text{
    font-size: 11px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 11px;
    line-height: 135.84%;
    font-style: normal;
  }
  .city{
    width: 145px;
}
.title2{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    font-family: 'Yeseva One';
    width: 203px;
    text-align: center;
    margin-left: 72px;
}
.title3{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 138.6%;
    text-transform: uppercase;
    color: #E3B873;
    font-family: 'Yeseva One';
}
.dot{
    display: none;
}
.slideshow-container{
    max-width: 340px;
    position: relative;
    top: 95px;
   
}
.one,.two,.three{
    height: 241.35px;
    width: 340px;
}
.textlist{
    display: none;
}
.prev{
   display: none;
}
.next{
    display: none;
}
.prev img{
    width: 22px;
}
.next img{
    width: 22px;
}

.mobprev{
    display:inline-block;
    position: relative;
    top: 260px;
    left: 279px;
    z-index: 1;
    border-radius: 50px;
    background-color: #E3B873;
}
.mobnext{
    display: inline-block;
    position: relative;
    top: 260px;
    z-index: 1;
    right: 47px;
    border-radius: 50px;
    background-color: #E3B873;
}

/*Section 3*/
.onlinecontrol{
    margin-top: -60px;
    background-color: #131313;
    height: 900px;
}
iframe{
    margin-top: 40px;
    width: 340px;
    height:207px; 
}
.line{
    margin-top: 28px;
}
.facility{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 169.8%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 21.46px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
}

.form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 340px;
}

.inputsec4{
    height: 32px;
    width: 340px;
    margin-right: 0px;
    background-color: #131313;
    color: #FFFFFF;
}
.inputsec4::placeholder{
    color: #FFFFFF;
}
.for{
    position: relative;
    top: 7px;
    left: -151px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px; 
    color: rgba(255, 255, 255, 0.5);
}
.buttonsec4{
    width: 340px;
    height: 51px;
    position: relative;
    top: 106.96px;
    
}

.textq{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
    font-family: 'Nunito Sans';
}

.checkboxCont{
  position: relative;
  top: -65px;
  
}

/*Section 4 */

.sectionFour{
    margin-top: 83px;
}

.groupCard{
    margin-top: 31px;
    width: 375px;
    height: 1669px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.card{
    height:484px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
  .imgCard{
    height:365.15px;
    width: 340px;
    background-image: url("../img/image.jpg");
  }
  .imgCard2{
    height:365.15px;
    width: 340px;
    background-image: url("../img/imaged3.jpg");
  }
  .imgCard3{
    height:365.15px;
    width: 340px;
    background-image: url("../img/imaged.jpg");
  }

  .orderCard{
    background-color: #fff;
    width: 270px;
    height:271px;
    margin-top: -120px;
    margin-left: 0px;
    background: #FFFFFF;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
    padding: 21px 31px;
  }

  .titleCard{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 138.6%;
    color: #363636;
    margin-left: 22px;
}
.orderCard ul li{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 169.8%;
    color: #959595;
}

.buttonCard{
    width: 190.43px;
    height:40px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 138.6%;
    text-transform: uppercase;
    color: #FFFFFF;
    color: #FFFFFF;
    background: #E3B873;
    border: none;
    margin-top:100px;
    margin-left: 0px;
}

}